/Desktop/SecretGardenApp2/SecretGardenApp2/bin
/Desktop/SecretGardenApp2/SecretGardenApp2/obj

mobile/secret-garden-app/.expo
mobile/secret-garden-app/nodemodules

mobile/secret-garden-app-v2/.expo
mobile/secret-garden-app-v2/nodemodules
